.form-content__inner {
    width: 680px;
    margin: 0 auto;
    padding: 50px 0;
}

.form__title {
    margin: 58px 0 0;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.form {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.form__group {
    margin-bottom: 69px;
}

.form__group:last-of-type {
    margin-bottom: 105px;
}

.input {
    padding: 10px;
    width: 100%;
    height: 60px;
    border: 1px solid #000;
    border-radius: 4px;
    appearance: none;
    font-size: 20px;
}

.form__group-title {
    margin-bottom: 2px;
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}

.form__error {
    margin-top: 4px;
    min-height: 0;
    color: #ff0000;
    text-align: left;
}

.form__button {
    padding: 15px;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
}

.link {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #0073CC;
}

/* register */
.register__form__title {
    margin: 30px 0 0;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.register__form__group {
    margin-bottom: 33px;
}

.register__form__group:last-of-type {
    margin-bottom: 93px;
}

.register__input {
    padding: 10px;
    width: 100%;
    height: 45px;
    border: 1px solid #000;
    border-radius: 4px;
    appearance: none;
    font-size: 20px;
}

@media screen and (max-width: 680px) {
    .form-content__inner {
        width: 100%;
        padding: 50px 24px;
    }
}