body {
    background-color: #F0EFF2;
}

.attendance__form-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__error-wrap {
    margin-top: 10px;
}

.form__error {
    color: #ff0000;
    font-size: 14px;
}
.input-block:last-child {
    margin-right: 0;
}

.attendance__form-content {
    margin-top: 51px;
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.attendance__form-item {
    padding: 35px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    border-bottom: 2px solid #E1E1E1;
}

.attendance__form-item:last-child {
    border-bottom: none;
    display: grid;
    align-items: center;
}

.attendance__form-wrap {
    display: flex;
    align-items: center;
    justify-content: start;
}

.form__label {
    padding-left: 64px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #737373;
    text-align: left;
}

.form__text {
    margin-right: 118px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #000;
}

.attendance__form-wrap span {
    margin-right: 47px;
}

.form__date {
    margin-right: 47px;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #000;

    width: 103px;
    height: 29px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    text-align: center;
}

.form__date:last-child {
    margin-right: 0;
}

.form__textarea {
    width: 316px;
    height: 72px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    resize: none;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
}

.form__button {
    margin-top: 36px;
    text-align: right;
}

.form__button-submit {
    padding: 12px 41px;
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.15em;
    cursor: pointer;
}

.form__button-submit.disabled {
    padding: 12px 16px;
    background-color: #696969;
    color: #fff;
    cursor: not-allowed;
}

.form__button-pending {
    color: rgba(255, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.15em;
}

/* プレビュー表示 */
.form__date-pending {
    margin-right: 47px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #000;

    width: 103px;
    height: 29px;
    border: none;
    border-radius: 4px;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
}

.form__textarea-pending {
    margin-right: 47px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #000;

    width: 316px;
    height: 29px;
    border: none;
    border-radius: 4px;
    text-align: left;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
}